# PostgreSQL 18 local connection
DATABASE_URL="postgresql://clinica:clinica123@localhost:5432/dentaldb"

# Direct connection used by Prisma for migrations and admin tasks
DIRECT_URL="postgresql://clinica:clinica123@localhost:5432/dentaldb"



R2_ACCOUNT_ID=e7d46c0e1c2ad3999c9b6ca227792720
R2_ACCESS_KEY_ID=260893cdd20ee6ed418599ed7abf9294
R2_SECRET_ACCESS_KEY=d64e3f91584b10f2dee11835a1d514bba3566d3d5824d0f1db57b938150ab2df
R2_BUCKET=odontograma
